@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
}


/* SOUND WAVE */
.loader {
  height: 70px;
  display: flex;
  margin-top: 200px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  align-items: center;
}
.loader .stroke {
  display: block;
  position: relative;
  background: black;
  height: 100%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: wave 1.2s linear infinite;
}
@keyframes wave {
  50% {
    height: 20%;
  }
  100% {
    height: 100%;
  }
}
$intervals: 0, 0.3, 0.6, 0.9;
@for $i from 1 through 10 {
  .stroke:nth-child(#{$i}) {
    animation-delay: 0s + nth($intervals, ($i % 4) + 1);
  }
}

/* VERTICAL LINE */
.v-line {
  border: 2px solid black;
  width: 0.1px;
  height: 99vh;
  position: absolute
}


/* MICROPHONE BUTTON */
.mic-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: gray;
  position: relative;
  
}

.mic-button-icon {
  width: 32px;
  height: 32px;
}

/* INPUT BOX */
.input-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.input-box {
  width: 70%;
  height: 32px;
  font-size: large;
  margin: 16px 0 16px 0;
  padding-left: 10px;
  border: none;
  border-radius: 10px;
}
.input-box-icon {
  width: 32px;
  height: 32px;
}

/* CHAT FORMS */
.chatting-form-container {
  height: 100%;
  border-bottom: 2px solid white;
  overflow-y: auto;
}
.chatting-form-container::-webkit-scrollbar {
  width: 10px;
}
.chatting-form-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

/* MAIN CONTAINERS */
.right-side-container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left-side-container {
  width: 20%;
}

.main-chat-container {
  display: grid;
  grid-template-rows: 6fr 1fr;
  grid-template-columns: 1fr;
  width: 70%;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
}
